*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

#gradle stuff
/gradlew
/gradlew.bat
/gradle
/.gradle

# maven
/build.xml
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf
/run
/libs
/eclipse
/classes
/out

# Mac filesystem dust
/.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# For good measure...
*.jks
gradle.attributes
gradle.properties

# Do not commit generated resources
/src/generated/