# Do not commit inserted generated resources, except structure NBT templates...
data/*
!data/astralsorcery/
data/astralsorcery/*
!data/astralsorcery/structures/
!data/astralsorcery/loot_modifiers/
!data/forge/
data/forge/*
!data/forge/loot_modifiers/


/assets/astralsorcery/blockstates/